<div class="container">
  <div class="row  justify-content-center">
    <div class="col-md-8 col-md-offset-8 ">
    <%= form_for(artist) do |f| %>
      <% if artist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

          <ul>
          <% artist.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name_artist %>
        <%= f.text_field :name_artist %>
      </div>

      <div class="field">
        <%= f.label :lastname_artist %>
        <%= f.text_field :lastname_artist %>
      </div>

      <div class="field">
        <%= f.label :email_artist %>
        <%= f.text_field :email_artist %>
      </div>


        <div class="field">
          <%= f.label :rol_artist %>
          <%= f.select :rol_artist,["Stand-up","Stand-up & producer","producer"] %>
        </div>

        <!-- <div class="form-row align-items-center">
           <div class="col-auto my-1">
             <label class="mr-sm-2" for="inlineFormCustomSelect">Rol</label>
             <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
               <option selected>Escoge</option>
               <option value="Stand-up">Stand-up</option>
               <option value="Stand-up Producer">Stand-up producer</option>
               <option value="producer">producer</option>
             </select>
           </div>
         </div> -->

      <div class="field">
        <%= f.label :city_artist %>
        <%= f.text_field :city_artist %>
      </div>

      <div class="field">
        <%= f.label :country_artist %>
        <%= f.text_field :country_artist %>
      </div>

      <div class="field">
        <%= f.label :cellphone_artist %>
        <%= f.text_field :cellphone_artist %>
      </div>

      <div class="field">
        <%= f.label :birthdate_artist %>
        <%= f.date_select :birthdate_artist %>
      </div>

      <div class="field">
        <%= f.label :linkgeneralphoto_artist %>
        <%= f.text_field :linkgeneralphoto_artist %>
      </div>

      <div class="field">
        <%= f.label :nickname_artist %>
        <%= f.text_field :nickname_artist %>
      </div>

      <div class="field">
        <%= f.label :linkvideosphotos %>
        <%= f.text_field :linkvideosphotos %>
      </div>

      <div class="field">
        <%= f.label :biopic_artist %>
        <%= f.text_area :biopic_artist %>
      </div>

      <div class="field">
        <%= f.label :facebookuser_artist %>
        <%= f.text_field :facebookuser_artist %>
      </div>

      <div class="field">
        <%= f.label :facebookfanpage_artist %>
        <%= f.text_field :facebookfanpage_artist %>
      </div>

      <div class="field">
        <%= f.label :instagramuser_artist %>
        <%= f.text_field :instagramuser_artist %>
      </div>

      <div class="field">
        <%= f.label :skills_artist %>
        <%= f.text_field :skills_artist %>
      </div>

      <div class="field">
        <%= f.label :work_artist %>
        <%= f.text_field :work_artist %>
      </div>

      <div class="field">
        <%= f.label :address_artist %>
        <%= f.text_field :address_artist %>
      </div>

      <div class="field">
        <%= f.label :rutinasnumber_artist %>
        <%= f.number_field :rutinasnumber_artist %>
      </div>

      <div class="field">
        <%= f.label :stagetime_artist_en_años %>
        <%= f.number_field :stagetime_artist %>
      </div>

      <div class="field">
        <%= f.label :artistictime_artist %>
        <%= f.date_select :artistictime_artist %>
      </div>

        <div class="field">
              <%= f.label :role %>
              <%= f.number_field :role %>
            </div>


      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :city_artist %>
    <%= f.text_field :city_artist %>
  </div>

  <div class="field">
    <%= f.label :country_artist %>
    <%= f.text_field :country_artist %>
  </div>

  <div class="field">
    <%= f.label :cellphone_artist %>
    <%= f.text_field :cellphone_artist %>
  </div>

  <div class="field">
    <%= f.label :birthdate_artist %>
    <%= f.text_field:birthdate_artist %>
  </div>

  <div class="field">
    <%= f.label :linkgeneralphoto_artist %>
    <%= f.text_field :linkgeneralphoto_artist %>
  </div>

  <div class="field">
    <%= f.label :nickname_artist %>
    <%= f.text_field :nickname_artist %>
  </div>

  <div class="field">
    <%= f.label :linkvideosphotos %>
    <%= f.text_field :linkvideosphotos %>
  </div>

  <div class="field">
    <%= f.label :biopic_artist %>
    <%= f.text_area :biopic_artist %>
  </div>

  <div class="field">
    <%= f.label :facebookuser_artist %>
    <%= f.text_field :facebookuser_artist %>
  </div>

  <div class="field">
    <%= f.label :facebookfanpage_artist %>
    <%= f.text_field :facebookfanpage_artist %>
  </div>

  <div class="field">
    <%= f.label :instagramuser_artist %>
    <%= f.text_field :instagramuser_artist %>
  </div>

  <div class="field">
    <%= f.label :skills_artist %>
    <%= f.text_field :skills_artist %>
  </div>

  <div class="field">
    <%= f.label :work_artist %>
    <%= f.text_field :work_artist %>
  </div>

  <div class="field">
    <%= f.label :address_artist %>
    <%= f.text_field :address_artist %>
  </div>

  <div class="field">
    <%= f.label :rutinasnumber_artist %>
    <%= f.number_field :rutinasnumber_artist %>
  </div>

  <div class="field">
    <%= f.label :stagetime_artist %>
    <%= f.number_field :stagetime_artist %>
  </div>

  <div class="field">
    <%= f.label :artistictime_artist %>
    <%= f.date_select :artistictime_artist %>
  </div>

  <div class="actions">
    <%= f.submit %>
=======
    </div>
>>>>>>> a8de4e7dd780199b3e810eea09bc5e0589b030fc
  </div>
</div>
