<div class="container">
<div class="d-flex justify-content-center">

    <%= form_for(artist) do |f|  %>
                                <% if artist.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

                                <ul>
                                <% artist.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>

      <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :name_artist %>
      </div>

      <div class="field">
        <%= f.label :LastName %>
        <%= f.text_field :lastname_artist %>
      </div>

      <div class="field">
        <%= f.label :email_artist %>
        <%= f.text_field :email_artist %>
      </div>


      <div class="field">
          <%= f.label :Fotografia  %>
          <%= f.file_field :avatar  %>
      </div>

      <div class="field">
          <%= f.label :role %>
          <%= f.select :role, [:artist , :producer]%>
      </div>

      <div class="field">
        <%= f.label :biopic_artist %>
        <%= f.text_area :biopic_artist %>
      </div>


      <div class="field">
        <%= f.label :cellphone %>
        <%= f.text_field :cellphone_artist %>
      </div>

      <div class="field">
      <%= f.label :Fecha_de_nacimiento %>
        <%=f.text_field :birthdate_artist  ,:class =>"datepicker" %>


      </div>

      <div class="field">
        <%= f.label :Linkvideosphotos %>
        <%= f.text_field :linkvideos %>
      </div>



      <div class="field">
        <%= f.label :facebookuser_artist %>
        <%= f.text_field :facebookuser_artist %>
      </div>


      <div class="field">
        <%= f.label :instagramuser_artist %>
        <%= f.text_field :instagramuser_artist %>
      </div>
      <div class="field">
        <%= f.label :city_artist %>
        <%= f.text_field :city_artist %>
      </div>

      <div class="field">
        <%= f.label :Pais %>
        <%= f.text_field :country_artist %>
      </div>


      <div class="field">
        <%= f.label :skills_artist %>
        <%= f.text_field :skills_artist %>
      </div>

      <div class="field">
        <%= f.label :work_artist %>
        <%= f.text_field :work_artist %>
      </div>

      <div class="field">
        <%= f.label :address_artist %>
        <%= f.text_field :address_artist %>
      </div>

      <div class="field">
        <%= f.label :rutinasnumber_artist %>
        <%= f.number_field :rutinasnumber_artist %>
      </div>



      <div class="field">
        <%= f.label :artistictime_artist %>
        <%= f.text_field :artistictime_artist, :class =>"datepicker" %>
      </div>

      <div class="actions">
        <%= f.submit %>
        </div>
        <% end %>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        format: 'yyyy/mm/ddy HH:MM:ss',
        $('.datepicker').datepicker({
                  format: 'yyyy/mm/dd',
                  });
      });
    </script>
</div>
