<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row  justify-content-center">
    <div class="col-md-8 col-md-offset-8 ">

<p>
  <strong>Name artist:</strong>
  <%= @artist.name_artist %>
</p>

<p>
  <strong>Lastname artist:</strong>
  <%= @artist.lastname_artist %>
</p>

<p>
  <strong>Email artist:</strong>
  <%= @artist.email_artist %>
</p>

<p>
  <strong>City artist:</strong>
  <%= @artist.city_artist %>
</p>

<p>
  <strong>Country artist:</strong>
  <%= @artist.country_artist %>
</p>

<p>
  <strong>Cellphone artist:</strong>
  <%= @artist.cellphone_artist %>
</p>

<p>
  <strong>Birthdate artist:</strong>
  <%= @artist.birthdate_artist %>
</p>

<p>
  <strong>Linkgeneralphoto artist:</strong>
  <%= @artist.linkgeneralphoto_artist %>
</p>

<p>
  <strong>Nickname artist:</strong>
  <%= @artist.nickname_artist %>
</p>

<p>
  <strong>Linkvideosphotos:</strong>
  <%= @artist.linkvideosphotos %>
</p>

<p>
  <strong>Biopic artist:</strong>
  <%= @artist.biopic_artist %>
</p>

<p>
  <strong>Facebookuser artist:</strong>
  <%= @artist.facebookuser_artist %>
</p>

<p>
  <strong>Facebookfanpage artist:</strong>
  <%= @artist.facebookfanpage_artist %>
</p>

<p>
  <strong>Instagramuser artist:</strong>
  <%= @artist.instagramuser_artist %>
</p>

<p>
  <strong>Skills artist:</strong>
  <%= @artist.skills_artist %>
</p>

<p>
  <strong>Work artist:</strong>
  <%= @artist.work_artist %>
</p>

<p>
  <strong>Address artist:</strong>
  <%= @artist.address_artist %>
</p>

<p>
  <strong>Rutinasnumber artist:</strong>
  <%= @artist.rutinasnumber_artist %>
</p>

<p>
  <strong>Stagetime artist:</strong>
  <%= @artist.stagetime_artist %>
</p>

<p>
  <strong>Artistictime artist:</strong>
  <%= @artist.artistictime_artist %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>

    </div>
  </div>
</div>
