<div class="container">

     <%= form_for(@event) do |f| %>
        <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :name_evet %>
        <%= f.text_field :name_evet %>
      </div>

      <div class="field">
        <%= f.label :artistcreator %>
        <%= f.text_field :artistcreator %>
      </div>

      <div class="field">
        <%= f.label :regularartists_event %>
        <%= f.text_field :regularartists_event %>
      </div>

      <div class="field">
        <%= f.label :guesstartists_event %>
        <%= f.text_field :guesstartists_event %>
      </div>

      <div class="field">
        <%= f.label :date_event %>
        <%= f.text_field :date_event ,:class =>"datepicker"%>
      </div>

      <div class="field">
        <%= f.label :duration_event %>
        <%= f.time_select :duration_event %>
      </div>

    <div class="field">
        <%= f.label "precio del evento" %>
        <%= f.select :payment_event , [:gratis  ,:aporte , :boleta, :empresarial ] %>
    </div>

      <!-- <div class="field">
        <%= f.label :dateopeninscription_event %>
        <%= f.text_field :dateopeninscription_event,:class =>"datepicker" %>
      </div>

      <div class="field">
        <%= f.label :datecloseinscription_event %>
        <%= f.text_field :datecloseinscription_event,:class =>"datepicker"%>
      </div> -->




      <%= f.collection_check_boxes  :artist_ids , Artist.all , :id , :name_artist  do |f| %>
      <div class="checkbox">
          <%= f.label do %>
            <%= f.check_box %> <%= f.object.name_artist %>
          <% end %>
        </div>
      <% end %>

       <div class="field">
        <%= f.label :linktographicpiece_event %>
        <%= f.text_field :linktographicpiece_event %>
      </div>

    <div class="field">
      <%= f.label :place_event %>
      <%= f.text_field :place_event %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        format: 'yyyy/mm/dd',
        $('.datepicker').datepicker({
                  format: 'yyyy/mm/dd',
                  });
      });
    </script>
<% end %>
  </div>  
</div>
