<div class="container">
  <p id="notice"><%= notice %></p>
    <row>  <%= link_to 'Edit', edit_event_path(@event) %>|<%= link_to 'Back', events_path %>  </row>
  <div class="container">
  <p>
    <strong>Name evet:</strong>
    <%= @event.name_evet %>
  </p>

  <p>
    <strong>Artistcreator:</strong>
    <%= @event.artistcreator %>
  </p>

  <p>
    <strong>Regularartists event:</strong>
    <%= @event.regularartists_event %>
  </p>

  <p>
    <strong>Guesstartists event:</strong>
    <%= @event.guesstartists_event %>
  </p>

  <p>
    <strong>Date event:</strong>
    <%= @event.date_event %>
  </p>
  <!--
  <p>
    <strong>Duration event:</strong>
    <%= @event.duration_event %>
  </p> -->

  <p>
    <strong>Payment event:</strong>
    <%= @event.payment_event %>
  </p>

  <p>
    <strong>Dateopeninscription event:</strong>
    <%= @event.dateopeninscription_event %>
  </p>

  <p>
    <strong>Datecloseinscription event:</strong>
    <%= @event.datecloseinscription_event %>
  </p>

  <p>
    <strong>Linktographicpiece event:</strong>
    <%= @event.linktographicpiece_event %>
  </p>

  <p>
    <strong>Linkfaceboo event:</strong>
    <%= @event.linkfaceboo_event %>
  </p>

  <p>
    <strong>Linkinstagram event:</strong>
    <%= @event.linkinstagram_event %>
  </p>

  <p>
    <strong>Generalconditions event:</strong>
    <%= @event.generalconditions_event %>
  </p>

  <p>
    <strong>Generalcondition1 event:</strong>
    <%= @event.generalcondition1_event %>
  </p>

  <p>
    <strong>Generalcondition2 event:</strong>
    <%= @event.generalcondition2_event %>
  </p>

  <p>
    <strong>Generalcondition3 event boolean:</strong>
    <%= @event.generalcondition3_event_boolean %>
  </p>

  <p>
    <strong>Repeat event:</strong>
    <%= @event.repeat_event %>
  </p>

  <p>
    <strong>Place event:</strong>
    <%= @event.place_event %>
  </p>

  <p>
    <strong>Contact place:</strong>
    <%= @event.contact_place %>
  </p>
  </div>
</div>
